* text=auto

composer.lock linguist-generated
composer-project.nix linguist-generated

.editorconfig export-ignore
.envrc export-ignore
.gitattributes export-ignore

# if we export-ignore these we can't build in nix due to flake using git export
.github export-ignore
.phpcs.xml.dist export-ignore
flake.nix export-ignore
flake.lock export-ignore
phpstan.neon.dist export-ignore
phpstan-baseline.neon export-ignore
phpstan-strict-rules.php export-ignore
phpunit.xml.dist export-ignore
testbench.yaml export-ignore
/tests export-ignore
/workbench export-ignore
