includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phpstan-strict-rules.php
    - extension.neon
parameters:
    level: max
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - src/TypeSpecifierProxy.php
        - tests/data/*
        - tests/**/data/*
    ignoreErrors:
        - message: "#^Creating new PHPStan\\\\Type\\\\Accessory\\\\AccessoryArrayListType is not covered by backward compatibility promise\\. The class might change in a minor PHPStan version\\.$#"
